
/**
 * Sidebar
 */

.sidebar {
  margin-top: 0em;
  padding-left: 2em;
  display: none;
  @include breakpoint($bp-med) {
    margin-top: 0;
    display: block;
  }
}

// Advanced Template Sidebar
.advanced-sidebar {
  padding: 2em 0;
  display: none;

  @include breakpoint($bp-med) {
    @include visuallyhidden;
  }

  .sidebar {
    margin: 0;
  }
}


.cat-box{
  border-top: 1px solid #e6e5e5;
  margin-top: 1em;
  .sidebar-widget{
    &:first-child{
      margin-top: 1em;
    }
  }
}
