
/**
 * Site Header
 */

.site-header {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  text-align: center;
  background: rgba(0, 0, 0, 0.35);
  transition: padding 250ms, background-color 250ms, transform 250ms;
  transform: translateZ(0);
  z-index: 50;

  @include breakpoint($bp-med) {
    display: block;
  }

  @include breakpoint($bp-med--tall) {
    position: fixed;
    z-index: 100;
  }

  .admin-bar & {
    top: 2em;
  }

  &.minify-header {
    @include breakpoint($bp-med--tall) {
      background-color: white;

      // // Add fancy background blur effect
      // (currently has performance issues in Chrome)
      //
      // @supports ( backdrop-filter: blur(10px) ) or
      //           ( -webkit-backdrop-filter: blur(10px) ) {
      //   background-color: rgba( #fff, 0.75 );
      //   backdrop-filter: blur(10px);
      // }
    }
    li{
      a{
        color: $color-purple;
      }
    }
    .show-on-scroll{
      display: block !important;
    }
    .dont-show-on-scroll{
      display: none;
    }
    .navigation--utility{
      a {
        color: $color-purple;
        border: 2px solid $color-purple;
        padding: 0.7em 0.7em;
        transition: border 0.5s ease, color 0.5s ease;
        border-radius: 3px;
        font-weight: 700;
        text-decoration: none !important;
        text-transform: uppercase;
        font-size: 14px;
        text-decoration: none !important;
        text-transform: uppercase;
        @include breakpoint($bp-xl){
          font-size: 16px;
        }
        &:hover,
        &:focus {
          color: $color-green;
          border: 2px solid $color-green;
          transition: border 0.5s ease, color 0.5s ease;
        }
      }
      > ul {
        > li {
          + li {
            margin-left: 0.5em;
            @include breakpoint($bp-large){
              margin-left: 0.8em;
            }
            @include breakpoint($bp-xl){
              margin-left: 1.2em;
            }
            @include breakpoint($bp-mega){
              margin-left: 1.8em;
            }
          }
        }
      }
    }
  }

  .wrap {
    position: relative;
  }
}


/**
 * Site Logo
 */

.site-branding {
  transition: transform 500ms;
  transform-origin: center left;
  margin-bottom: 0.5em;
  @include breakpoint($bp-large){
    margin-bottom: 0;
  }

  a {
    display: inline-block;
    vertical-align: top;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      svg,
      img {
        opacity: 0.75;
      }
    }
  }

  svg,
  img {
    display: block;
    transition: opacity 500ms;
    transform: translateZ(0);
    backface-visibility: hidden;
  }

  .minify-header & {
    @include breakpoint($bp-med--tall) {
      // Fix image blur - 'translateZ' forces hardware
      // acceleration for soother animation
      transform: translateZ(0) scale(.85);
      // Fix image blur - Simplifies the animation
      // to front-face only
      backface-visibility: hidden;
    }
  }
}


/**
 * Site Navigation (optional)
 * ---
 * Group and position navs
 */

.site-navigation {
  padding-top: 1.5em;
  transition: padding-top 500ms;
  display: flex;
  align-items: center;
  .minify-header & {
    @include breakpoint($bp-med--tall) {
      padding-top: 0.75em;
    }
  }
}

svg.site-logo{
  width: 150px;
  @include breakpoint($bp-large){
    width: 230px;
  }
  @include breakpoint($bp-xl){
    width: auto;
  }
}


.home-display{
  @include breakpoint($bp-med){
   display: none;
  }
}

.header-display{
  display: none;
  @include breakpoint($bp-med){
   display: block;
  }
}
.homepage-alert-box{
  background-color: $color-green;
  padding: 1em;
  text-align: center;
  margin-top: 16px;
  @include breakpoint($bp-med){
    margin-top: 0;
  }
  .alert-box-text{
    @include reverse-block-color();
    display: flex;
    font-family: $font-heading;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    @include breakpoint($bp-small){
      flex-direction: row;
    }
    p{
      font-weight: 700;
      margin-bottom: 0;
      font-size: 14px;
      margin-bottom: 0.5em;
      @include breakpoint($bp-small){
        margin-bottom: 0em;
        margin-right: 1.5em;
        font-size: 17px;
      }
    }
    a{
      font-weight: 700;
      text-transform: uppercase;
      text-decoration: underline;
      font-size: 15px;
      @include breakpoint($bp-small){
        font-size: 16px;
      }
    }
  }
}



.show-on-scroll{
  display: none !important;
}
.dont-show-on-scroll{
  display: block;
}
