
/**
 * Site Footer
 */

.site-footer {
  color: #fff;
  background-color: $color-green;

  h5, .h5 {
    color: inherit;
  }

  p {
    margin: 0;
  }

  a {
    color: inherit;

    &:hover,
    &:focus {
      color: inherit;
    }
  }
}


/**
 * Main Footer Sections
 */

.primary-footer {
  padding: 3em 0;
  position: relative;
  overflow: hidden;
  &:after{
    position: absolute;
    content: url(../svg/icons/footer-map.svg);
    right: -2em;
    top: -80px;
    z-index: 0;
    @include breakpoint($bp-large){
      top: -40px;
    }
  }
}

.site-info {
  padding: 1.5em 0;
  border-top: 2px solid rgba( #fff, 0.3 );
}


/**
 * Site Address
 */

.address-block {
  text-align: center;

  @include breakpoint($bp-large) {
    text-align: left;
  }

  .address-title {
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
    border-bottom: 1px solid rgba( #fff, 0 );
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
  p{
    font-size: 15px;
  }
}

.address-contact-info {
  margin-top: 0.5em;
  p{
    font-size: 15px;
  }
}


/**
 * Site Copyright
 */

.site-copyright {
  text-align: center;

  @include breakpoint($bp-med) {
    text-align: left;
    margin-top: 3.1em;
    line-height: 1;
  }
}


/**
 * Imagebox Branding
 */

.imagebox {
  margin-top: 2px;
  text-align: center;

  @include breakpoint($bp-large) {
    margin-top: 3.1em;
    text-align: right;
    vertical-align: top;
  }

  svg {
    display: inline-block;
    vertical-align: baseline;
    margin-bottom: -8px;
    margin-left: 5px;
  }

  a {
    color: #fff;
    transition: opacity 500ms;

    &:hover,
    &:focus {
      opacity: 0.75;
    }
  }
}


.primary-footer{
  .wrap{
    position: relative;
    z-index: 3;
    @supports(display: flex){
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
      .footer-col-left{
        flex: 3;
        margin-bottom: 1em;
        @include breakpoint($bp-large){
          margin-bottom: 0;
        }
        .site-branding{
          text-align: center;
          margin-bottom: 1em;
          @include breakpoint($bp-med){
            text-align: left;
          }
          @include breakpoint($bp-large){
            margin-bottom: 0;
          }
        }
      }
      .footer-col-right{
        flex: 1;
      }
    }
  }
}

h5.social-nav-title{
  @include breakpoint($bp-large){
    margin-right: 1.7em;
  }
}

.social-nav{
  margin-bottom: 1em;
  @include breakpoint($bp-large){
    margin-bottom: 0;
  }
}

.footer-new{
  .primary-footer-new{
    text-align: center;
    display: flex;
    flex-direction: column;
    @include breakpoint($bp-large){
      flex-direction: row;
      text-align: left;
    }
    .footer-logo-new{
      text-align: center;
      @include breakpoint($bp-large){
        flex: 4;
        display: flex;
        text-align: left;
      }
      .site-branding{
        text-align: center;
        @include breakpoint($bp-large){
          text-align: left;
          flex: 2;
        }
      }
      .footer-addy-new{
        text-align: center;
        margin-bottom: 0.9em;
        @include breakpoint($bp-large){
          margin-bottom: 0;
          text-align: left;
          flex: 1;
        }
      }
      .footer-link-new{
        text-align: center;
        margin-bottom: 0.9em;
        @include breakpoint($bp-large){
          margin-bottom: 0;
          text-align: left;
          flex: 1;
        }
      }
    }
    .footer-social-new{
      @include breakpoint($bp-large){
        flex: 1;
      }
    }
  }
  .secondary-footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    @include breakpoint($bp-large){
      flex-direction: row;
      text-align: left;
    }
    .footer-copy-new{
      margin-bottom: 0.9em;
      margin-top: 20px;
      @include breakpoint($bp-large){
        margin-bottom: 0;
        flex: 2;
      }
    }
    .footer-copy-imagebox{
      @include breakpoint($bp-large){
        flex: 2;
      }
    }
  }
}
