.annual-report-section{
  .l-grid-item{
    .thumbnail{
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
    &:hover{
     .thumbnail{
       border-top-left-radius: 8px;
       border-top-right-radius: 8px;
     }
    }
  }
  .thumbnail{
    position: relative;
    overflow: hidden;
    height: 325px;
    img{
      @include block-fit-cover(17em);
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
    }
  }
 .card-body{
   padding: 1em;
   height: 240px;
   box-shadow: -1px 7px 15px -1px rgba(0,0,0,.2);
   border-bottom-right-radius: 8px;
   border-bottom-left-radius: 8px;
   border-top-right-radius: 8px;
   border-top-left-radius: 8px;
   height: 161px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
}
