
.page-template-template-home {
  .homepage{
    background-color: $color-grey--dark;
  }

// top shortcut links

.top-shortcut-links{
  margin-top: 1.2em;
  padding: relative;
  @include breakpoint($bp-med){
    margin-top: -2em;
  }
  @include breakpoint($bp-large){
    margin-top: -4em;
  }
  @include breakpoint($bp-mega){
    margin-top: -6em;
  }
  position: relative;
  z-index: 9;
  .wrap{
    .flex-shortcut-container{
      &:nth-child(1){
        @supports(display: flex){
          display: flex;
          flex-direction: column;
          @include breakpoint($bp-small){
            flex-direction: row;
          }
        }
       &:hover{
         .flex-box{
          &:last-child{
            a{
              background-color: $button-color--hover-2;
            }
          }
         }
       }
      }
      &:nth-child(2){
        @supports(display: flex){
          display: flex;
          flex-direction: column;
          @include breakpoint($bp-large){
            flex-direction: row;
          }
        }
        .flex-box{
          a{
            background-color: $color-green;
            transition: background-color 0.5s ease;
          }
          &:hover{
            transition: background-color 0.5s ease;
            a{
              background-color: $color-purple;
              transition: background-color 0.5s ease;
              .bottom_shortcut_link_header span{
                color: white !important;
                transition: color 0.5s ease;
              }
            }
          }
        }
      }
      &:first-child{
      .flex-box{
        .flex-box-body{
          padding: 0 1.5em;
        }
        &:nth-child(1){
          flex:1;
        }
        &:nth-child(2){
          flex: 1;
          @include breakpoint($bp-small){
            // margin-left: 1em;
            margin-top: -4em;
          }
          @include breakpoint($bp-med){
            flex:3;
          }
          @include breakpoint($bp-large){
          margin-top: 0em;
          }
          @include breakpoint($bp-mega){
            margin-top: 0;
          }
        }
        .home-blog-thumbnail{
          position: relative;
          overflow: hidden;
          height: 190px;
          width: 100%;
          border-top-left-radius: 8px;
          border-top-right-radius: 8px;
          margin-top: -4em;
          @include breakpoint($bp-small){
            height: 190px;
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
            border-top-right-radius: 0px;
          }
          @include breakpoint($bp-large){
            margin-top: 0;
          }
          img{
            @include block-fit-cover(20em);
          }
        }
        span{
          &:first-child{
            font-family: $font-heading;
            font-weight: 700;
            font-size: 15px;
            @include breakpoint($bp-xl){
              font-size: 18px;
            }
            @include breakpoint($bp-mega){
              font-size: 20px;
            }
          }
        }
        &:last-child{
          @include breakpoint($bp-med){
          }
          span{
            text-transform: uppercase;
          }
          a{
          background-color: $color-green;
          transition: background-color 0.5s ease;
          text-decoration: none;
          height: 190px;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
          @include breakpoint($bp-small){
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 0px;
          }
          @supports(display: flex){
            display: flex;
            align-items: center;
          }
          h3{
            color: white;
            // margin: 0.9em 0;
            margin-bottom: 0.3em;
            font-size: 17px;
            @include breakpoint($bp-med){
            font-size: 22px;
            }
            @include breakpoint($bp-large){
              font-size: 24px;
            }
            @include breakpoint($bp-mega){
              font-size: 27px;
            }
          }
         }
        }
      }
    }

      a{
        color: white;
      }
      .flex-box-l{
        flex: 1;
        .flex-box{
         a{
           position: relative;
           overflow: hidden;
           height: 200px;
           @include breakpoint($bp-med){
             height: 446px;
           }
           text-decoration: none;
           background: black;
           @supports(display: flex){
             display: flex;
             justify-content: space-between;
             flex-direction: column;
           }
           > img{
             @include block-fit-cover(51em);
             opacity: 0.8;
           }
           div{
             position: relative;
             z-index: 99999;
             padding: 1em;
             img{
               margin-right: 1em;
             }
             @supports(display: flex){
               display: flex;
               align-items: center;
             }
           }
           .bottom_shortcut_link_header{
             span{
               font-size: 15px;
               text-transform: uppercase;
               transition: color 0.5s ease;
               color: white;
               font-family: $font-heading;
               font-weight: 700;
               @include breakpoint($bp-xl){
                 font-size: 16px;
               }
               @include breakpoint($bp-mega){
                 font-size: 17px;
               }
             }
           }
           .bottom_shortcut_link_footer{
             p{
               font-size: 18px;
               margin-bottom: 0;
               font-family: $font-heading;
               font-weight: 700;
               @include breakpoint($bp-med){
                 font-size: 19px;
               }
               @include breakpoint($bp-xl){
                 font-size: 23px;
               }
               @include breakpoint($bp-mega){
                 font-size: 25px;
               }
             }
           }
         }
        }
      }
      .flex-box-r{
        flex: 1;
        margin-top: 1em;
        position: relative;
        @include breakpoint($bp-xl){
        }
        &:after{
          content: "";
          position: absolute;
          right: -3em;
          top: 7em;
          border-radius: 10px;
          width: 18px;
          height: 18px;
          background-color: $color-green;

        }
        &:before{
        content: "";
        position: absolute;
        right: -4em;
        top: 6em;
        border-radius: 10px;
        width: 10px;
        height: 10px;
        background-color: $color-purple;
        }
        @include breakpoint($bp-large){
          margin-left: 1em;
          margin-top: 0;
        }
        @supports(display: flex){
          display: flex;
          flex-direction: column;
          @include breakpoint($bp-med){
            flex-direction: row;
            flex-flow: row wrap;
          }
        }
        .flex-box{
          background-color: $color-green;
          a{
            position: relative;
            overflow: hidden;
            height: 100%;
            text-decoration: none;
            @supports(display: flex){
              display: flex;
              justify-content: space-between;
              flex-direction: column;
            }
            > img{
              @include block-fit-cover(51em);
            }
            .bottom_shortcut_link_header{
              span{
                font-size: 15px;
                text-transform: uppercase;
                color: $color-green--dark;
                font-family: $font-heading;
                font-weight: 700;
                @include breakpoint($bp-xl){
                  font-size: 16px;
                }
                @include breakpoint($bp-mega){
                  font-size: 17px;
                }
              }
            }
            .bottom_shortcut_link_footer{
              p{
                font-size: 25px;
                margin-bottom: 0;
                font-family: $font-heading;
                font-weight: 700;
              }
            }
            div{
              position: relative;
              z-index: 99999;
              padding: 1em;
              img{
                margin-right: 1em;
              }
              @supports(display: flex){
                display: flex;
                align-items: center;
              }
            }
          }
        }
        .flex-box:nth-child(1){
          flex-basis: 100%;
          height: 215px;
        }
         .flex-box:nth-child(2){
           flex: 30%;
           margin-top: 1em;
           @include breakpoint($bp-xl){
            height: 215px;
            margin-top: 0;
           }
        }
         .flex-box:nth-child(3){
          margin-top: 1em;
          flex: 30%;
          @include breakpoint($bp-xl){
            height: 215px;
            margin-top: 0;
          }
        }
         .flex-box:nth-child(2) + .flex-box:nth-child(3){
         @include breakpoint($bp-med){
           margin-left: 1em;
         }
       }
      }
    }
  }
}

.middle-callout-stat{
  padding: 5em;
  text-align: center;
  position: relative;
  background-image: url(../svg/icons/global-bg-small.svg);
  background-size: cover;
  background-size: 122em;
  background-position: center 69em;
  background-color: $color-grey--dark;
  @include breakpoint($bp-small){
    background-size: 82em;
    background-position: center 41em;
  }
  @include breakpoint($bp-med){
    background-image: none;
  }
  &:after{
    // content: "";
    // width: 20px;
    // height: 20px;
    // position: absolute;
    // left: 5em;
    // background-color: $color-purple;
    // border-radius: 10px;
    // top: 9em;
  }
  h2{
    font-size: 21px;
    text-transform: uppercase;
    color: #6b2987;
    margin-bottom: 2em;
  }
  h3{
    color: $color-purple;
    font-family: $font-base;
    margin-bottom: 0;
    font-size: 38px;
    position: relative;
    &:before{
      content:"+";
    }
    @include breakpoint($bp-xl){
      font-size: 45px;
    }
    @include breakpoint($bp-mega){
      font-size: 50px;
    }
  }
  p{
    color: $color-black;
    font-weight: 700;
    font-family: $font-heading;
    font-size: 16px;
    margin-bottom: 0 !important;
    @include breakpoint($bp-xl){
      font-size: 18px;
    }
    @include breakpoint($bp-mega){
      font-size: 20px;
    }
  }
}

// stat callout

.bottom-shortcut-links{
  text-align: center;
  position: relative;
  .orb-1{
    position: absolute;
    width: 21px;
    height: 21px;
    border-radius: 10px;
    background-color: $color-green;
    left: 4em;
    bottom: 17em;
  }
  .orb-2{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #6c2888;
    left: 5em;
    bottom: 16em;
    background-color: $color-purple;
  }
  .orb-3{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    right: 4em;
    top: 7em;
    background-color: #6b2987;
  }
  .orb-4{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    right: 5em;
    top: 7.5em;
    background-color: #00b1af;
  }


  .wrap{
    .l-grid{
      .l-grid-item{
        a{
          color: white;
          text-decoration: none;
          height: 400px;
          position: relative;
          display: block;
          overflow: hidden;
          background: $color-black;
          transition: background-color 0.5s ease;
          @supports(display: flex){
            display: flex;
            justify-content: space-between;
            flex-direction: column;
          }
          > img{
            @include block-fit-cover(43em);
            @include breakpoint($bp-xl){
              @include block-fit-cover(52em);
              opacity: 0.8;
            }
          }

          div{
            position: relative;
            z-index: 10;
            padding: 1em;
            img{
              margin-right: 1em;
            }
            @supports(display: flex){
              display: flex;
              align-items: center;
            }
          }
          .bottom_shortcut_link_header{
            span{
              font-size: 17px;
              text-transform: uppercase;
            }
          }
          .bottom_shortcut_link_footer{
            font-size: 25px;
            text-align: left;
            font-family: $font-heading;
            font-weight: 700;
          }
        }
        &:hover{
          a{
            background: $color-green !important;
           transition: background-color 0.5s ease;
          }
        }
      }
    }
  }
}

// bottom shortcut links

 .bottom-callout{
   margin-top: 2em;
  @include breakpoint($bp-med){
     margin-top: -2em;
  }
   .wrap{
     @supports(display: flex){
       display: flex;
       flex-direction: column;
       @include breakpoint($bp-med){
         flex-direction: row;
       }
     }
     .orb-container{
       position: relative;
       width: 353px;
       height: 353px;
       margin: auto;
       @include breakpoint($bp-med){
         width: 403px;
         height: 403px;
         margin: auto;
       }
       @include breakpoint($bp-xl){
         width: 553px;
         height: 553px;
         margin: auto;
       }
       &:before{
         content: "";
         position: absolute;
         border-radius: 100px;
         background-color: $color-purple;
         z-index: -36;
         width: 70px;
         height: 70px;
         right: 0px;
         top: 20px;
         border-radius: 100px;
         background-color: #6c2888;
         @include breakpoint($bp-med){
           width: 70px;
           height: 70px;
           right: 10px;
           top: 41px;
         }
         @include breakpoint($bp-xl){
           width: 98px;
           height: 98px;
           right: 32px;
           top: 29px;
         }
       }
       &:after{
         content: "";
         position: absolute;
         border-radius: 100px;
         background-color: $color-green;
         z-index: 9;
         width: 110px;
         height: 110px;
         left: 0;
         bottom: 0em;
         @include breakpoint($bp-med){
           width: 122px;
          height: 121px;
          left: -10px;
          bottom: 0em;
         }
         @include breakpoint($bp-xl){
           width: 154px;
           height: 154px;
           left: 0;
           bottom: -3em;
         }
       }
       .callout-photo{
         flex: 1;
         position: relative;
         overflow: hidden;
         border-radius: 100%;
         z-index: -30;
         width: 353px;
         height: 353px;
         margin: auto;
         @include breakpoint($bp-med){
           width: 403px;
           height: 403px;
         }
         @include breakpoint($bp-xl){
           width: 553px;
           height: 553px;
         }
         @include breakpoint($bp-mega){
           width: 553px;
           height: 553px;
         }
         img{
           @include block-fit-cover(62em);
         }
       }
     }
     .callout-text{
       flex: 1;
       padding: 2em 0;
       position: relative;
       &:after{

         @include breakpoint($bp-med){
           content: "";
           width: 10px;
           height: 10px;
           background-color: #6c2888;
           left: 0;
           bottom: 4em;
         }
         position: absolute;
         border-radius: 10px;
       }
       @include breakpoint($bp-med){
         padding-left: 2em;
       }
       @include breakpoint($bp-xl){
         padding: 0;
         padding-left: 2em;
       }
       h2{
         color: $color-purple;
         margin-top: 0;
         margin-bottom: 0.8em;
         font-size: 28px;
         @include breakpoint($bp-xl){
           font-size: 30px;
         }
         @include breakpoint($bp-mega){
           font-size: 35px;
         }
       }
       h6{
         font-size: 13px;
         @include breakpoint($bp-med){
           font-size: 15px;
         }
         @include breakpoint($bp-xl){
           font-size: 17px;
         }
         @include breakpoint($bp-mega){
           font-size: 18px;
         }
         color: $color-green;
         font-weight: 700;
         text-transform: uppercase;
       }
       @supports(display: flex){
        display: flex;
        justify-content: center;
        flex-direction: column;
      }
     }
   }
 }

// bottom callout


.partner-section{
  background-color: #F7F7F7;
  // margin-top: 3em;
  @include breakpoint($bp-xl){
    // margin-top: 6em;
  }
  .partner-box{
   //  display: flex;
   // align-items: center;
   // justify-content: space-between;
   // flex-direction: column;
   .partner-header{
     @include breakpoint($bp-xl){
       width: 213px;
     }
     h2{
       margin-bottom: 1em;
       @include breakpoint($bp-xl){
         margin: 0;
         font-size: 35px;
       }
     }
   }
   .l-grid{
     justify-content: center;
     text-align: center;
     .l-grid-item{
       width: 33%;
     }
   }
  @include breakpoint($bp-med){
    .l-grid{
      justify-content: center;
      .l-grid-item{
        width: 20%;
      }
    }
  }
   @include breakpoint($bp-large){
     flex-direction: row;
     .l-grid{
       justify-content: space-between;
       .l-grid-item{
         width: 20%;
       }
     }
   }
   @include breakpoint($bp-xl){
     flex-direction: row;
     .l-grid{
       justify-content: space-between;
       .l-grid-item{
         width: auto;
       }
     }
   }
  }

}
  .homepage--location-section{
    background-color: white;
    position: relative;
    padding-top: 4.5em;
    padding-bottom: 4em !important;
    @include breakpoint($bp-med){
      padding-bottom: 0 !important;
    }
    .imp-wrap{
      margin: auto;
    }
    .map-header-desktop{
      h2{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1.5em;
        font-size: 21px;
        @include breakpoint($bp-med){
          margin-bottom: 0;
        }
      }
    }
    .map-for-desktop{
      display: none;
      @include breakpoint($bp-med){
        display: block;
      }
    }

    .map-links{
      display: block;
      @include breakpoint($bp-med){
        display: none;
      }
      ul{
        padding: 0;
        list-style: none;
        text-align: center;
        li{
          margin-bottom: 0.5em;
          a{
            text-decoration: none;
            padding: 0.7em 1.6em;
            color: white;
            display: block;
            margin-right: 1em;
            margin-left: 1em;
          }
          &:nth-child(1){
            a{
              background-color: #E54F6E;
            }
          }
          &:nth-child(2){
            a{
              background-color: #00474F;
            }
          }
          &:nth-child(3){
            a{
              background-color: #F2A612;
            }
          }
          &:nth-child(4){
            a{
              background-color: #00B0B0;
            }
          }
          &:nth-child(5){
            a{
              background-color: #87C879;
            }
          }
          &:nth-child(6){
            a{
              background-color: #E54F6E;
            }
          }
          &:nth-child(7){
            a{
              background-color: #00474F;
            }
          }
          &:nth-child(8){
            a{
              background-color: #F2A612;
            }
          }
          &:nth-child(9){
            a{
              background-color: #6B2987;
            }
          }
          &:nth-child(10){
            a{
              background-color: #6B2987;
            }
          }
          &:nth-child(11){
            a{
              background-color: #555091;
            }
          }
        }
      }
    }
  }
  .home-callout-split{
    display: flex;
    align-items: center;
    background: $color-green;
    flex-direction: column;
    height: 500px;
    @include breakpoint($bp-med){
      flex-direction: row;
      height: 420px;
    }
    @include breakpoint($bp-mega){
      height: 470px;
    }

    .box-one{
      flex: 1;
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      img{
       @include block-fit-cover(50em);
       @include breakpoint($bp-large){
         @include block-fit-cover(47em);
       }
      }
    }
    .box-two{
      @include reverse-block-color();
      flex: 1;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      @include breakpoint($bp-med){
        padding-left: 2em;
      }
      .bottom_shortcut_link_header{
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
      }
      span{
        font-size: 17px;
        text-transform: uppercase;
        font-weight: 700;
        margin-left: 0.5em;
      }
      .split-wrap{
        width: 90%;
        margin: auto;
        @include breakpoint($bp-large){
          max-width: 600px;
          margin-left: 0;
          margin-right: 0;
        }
        .shortcut_copy{
            .button{
              color: $color-purple;
              &:hover{
                  background-color: $button-color--hover-3;
              }
            }
            h2{
              color: white;
              margin-bottom: 0.9em;
            }
        }
      }
    }
  }
  .home-post-box{
    display: flex;
    margin-bottom: 1.5em;
    .post-thumbnail{
      position: relative;
      overflow: hidden;
      height: 110px;
      width: 110px;
      img{
        @include block-fit-cover(14em);
      }
    }
    .post-body{
      flex: 1;
      margin-left: 1em;
      height: 110px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      span{
        font-size: 15px;
        margin-bottom: 0.3em;
        display: block;
      }
      h3{
        font-size: 17px;
        color: $color-black;
      }
      .button-box{
        .button.button--green{
          padding: 0.536em 0.8em;
          font-size: 13px;
          &:hover{
            background-color: $button-color--hover-3;
          }
        }
        .button.button--purple{
          padding: 0.536em 0.8em;
          font-size: 13px;
          &:hover{
            background-color: $button-color--hover-2;
          }
        }
      }
    }
  }
  .home-cpt{
    .l-grid-item{
      width: 100%;
      @include breakpoint($bp-med){
        width: 50%;
      }
      @include breakpoint($bp-large){
        width: 33%;
      }
    }
    .home-box-event{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-purple;
    border-radius: 8px;
    height: 430px;
    @include breakpoint($bp-med){
      padding: 0 3em;
    }
    @include breakpoint($bp-xl){
      padding: 0 4em;
      margin-left: 1em;
      margin-top: 0.7em;
    }
    @include breakpoint($bp-mega){
      padding: 0 4em;
    }
    img{
      @include block-fit-cover(33em);
      opacity: 0.5;
      border-radius: 8px;
    }
    .home-box-copy{
      @include reverse-block-color();
      position: relative;
      z-index: 10;
      h2{
        margin-bottom: 1em;
      }
      p{
        margin-bottom: 0;
      }
    }
  }
  }
}

li.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-item.page_item.page-item-1370.current_page_item.menu-item-1543{
  a{
    text-transform: none;
  }
}


.imp-wrap.imp-sticky-tooltips{
  margin: 0px auto !important;
  max-width: 1600px !important;
}


.partner-header{
  text-align: center !important;
  margin-bottom: 3em !important;
}
