
html {
  box-sizing: border-box;
  color: $text-color;
  font-family: $font-base;
  line-height: 1.3;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  p{
    font-size: 16px;
    @include breakpoint($bp-large){
      font-size: 18px;
    }
    @include breakpoint($bp-xl){
      font-size: 18px;
    }
  }
}
* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// Disable scrolling when mobile nav is open
body {
  &.show-nav {
    overflow: hidden;

    @include breakpoint($bp-med) {
      overflow: scroll;
    }
  }
}
