
.button,
input[type="submit"] {
  @include button( $button-color );
}

.button--text{
  background-color: transparent;
  color: $color-purple;
  padding-left: 0 !important;
  font-family: $font-heading;
  position: relative;
  font-size: 14px !important;
  letter-spacing: 1px !important;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  font-weight: 700 !important;
  &:after{
    content: url('../img/button-arrow.png');
    position: absolute;
    // right: 0;
    right: 9px;
    top: 13px;
  }
}

.button--green {
  @include button( $button-color-2 );
  &:hover{
    background-color: $button-color--hover-2;
  }
}
.pdf--button {
  @include button( $button-color-2 );
  display: block;
  width: 140px;
  font-size: 13px !important;
  margin-top: 1em;
  padding-left: 3em !important;
  position: relative;
  border-radius: 3px;
  text-decoration: none !important;
  &:after{
    position: absolute;
    content: url(../svg/icons/download-icon.svg);
    left: 1em;
  }
  &:hover{
    background-color: $button-color--hover-2;
  }
}

.page-content{
  .pdf--button {
    @include button( $button-color-2 );
    width: 140px;
    font-size: 13px !important;
    margin-top: 1em;
    padding-left: 3em !important;
    position: relative;
    border-radius: 3px;
    &:after{
      position: absolute;
      content: url(../svg/icons/download-icon.svg);
      left: 1em;
    }
    &:hover{
      background-color: $button-color--hover-2;
    }
  }
}

.button--purple {
  background-color: $button-color-3;
  &:hover{
    background-color: $button-color--hover-3;
  }
}
 .button--white {
   @include button( $button-color-4 );
   background-color: $button-color-4;
   color: $color-purple;
  &:hover{
    background-color: $button-color--hover-2;
    color: white !important;
  }
}

.text-button {
  color: white;
  border-bottom: none;
  position: relative;
  font-size: 15px;
  font-family: $font-heading;
  font-weight: 700;
  &:after{
    content: ">";
    position: absolute;
    font-size: 15px;
    right: -1em;
    width: 10px;
    height: 10px;
  }

  &:hover,
  &:focus {
    border-bottom-color: $button-color--hover;
    color: $button-color--hover;
  }
}

.button-group {
  margin-top: -8px;
  margin-left: -8px;

  .button {
    margin: 8px;
  }
}
