
/**
 * Block Bkg Colors
 */

.color-option-1 {
  background-color: #fff;
}

.color-option-2 {
  background-color: $bkg-dark-grey;
}

.color-option-3 {
  background-color: $bkg-dark-grey;
}

.color-option-4 {
  background-color: $color-green;
  @include reverse-block-color();
  .wrap{
    .button-block{
      h2{
        color: $color-purple;
      }
      .callout-body{
        .button-callout-content{
          a.button{
            background-color: $button-color-4;
            color: $color-green;
            &:hover{
              background-color: $button-color--hover-4;
              color: $color-green;
            }
          }
        }
      }
    }
  }
}

.color-option-5 {
  background-color: $color-green;
  @include reverse-block-color();
  .wrap{
    .button-block{
      h2{
        color: white;
      }
      .callout-body{
        .button-callout-content{
          a.button{
            background-color: $button-color-4;
            color: $color-purple;
            &:hover{
              background-color: $button-color--hover-4;
              color: $color-purple;
            }
          }
        }
      }
    }
  }
}
.color-option-5 {
  background-color: $color-purple;
  @include reverse-block-color();
}

.background-image {
  @include reverse-block-color();
  background-color: $bkg-dark-grey;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.color-text--teal{
  color: $color-green;
}
