
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin: 0;
  margin-bottom: 0.5em;
  font-family: $font-heading;
  line-height: 1.2;

  p + &,
  ul + &,
  ol + & {
    margin-top: 1em;
  }
}

h1, .h1 {


  font-size: 34px;
  font-weight: 700;
  color: $color-purple;
  line-height: 1;
  @include breakpoint($bp-large) {
   font-size: 36px;
  }
  @include breakpoint($bp-mega) {
   font-size: 38px;
  }
}

h2, .h2 {
  font-size: 24px;
  color: $color-purple;
  font-weight: 700;
  @include breakpoint($bp-large) {
    font-size: 26px;
  }
  @include breakpoint($bp-xl) {
    font-size: 28px;
  }
  @include breakpoint($bp-mega) {
    font-size: 30px;
  }
}

h3, .h3 {
  font-size: 20px;
  color: $color-purple;
  font-weight: 700;
  @include breakpoint($bp-large) {
    font-size: 21px;
  }
  @include breakpoint($bp-mega) {
    font-size: 22px;
  }
}

h4, .h4 {
  @include font-size(19);
}

h5, .h5 {
  @include font-size(17);
}

h6, .h6 {
  @include font-size(27);
}
