
/**
 * Sections
 */

.section {
  @include clearfix;
  padding: $vertical-padding;

  @include breakpoint($bp-med) {
    padding: $vertical-padding-medium;
  }

  @include breakpoint($bp-large) {
    padding: $vertical-padding-large;
  }

  // Remove vertical padding for same color blocks
  &.color-option-1 + &.color-option-1,
  &.color-option-2 + &.color-option-2,
  &.color-option-3 + &.color-option-3 {
    padding-top: 0;

    @include breakpoint($bp-med) {
      padding-top: 0;
    }

    @include breakpoint($bp-large) {
      padding-top: 0;
    }
  }
}

.section-header {
  padding-bottom: $padding;
  text-align: center;

  h2 {
  
  }
}

.section-header--left {
  text-align: left;
}

.section-header--right {
  text-align: right;
}

.section-footer {}
