.about-grid{
  padding-top: 1em !important;
  padding-bottom: 0 !important;
  a{
    text-decoration: none;
  }
  h2.paper-year{
      color: $color-black;
      font-family: $font-base;
  }
  header{
    h1{
    padding-bottom: 0.5em;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1em;
    }

  }
  .thumbnail{
    overflow: hidden;
    position: relative;
    border: 2px solid #efefef;
    height: 312px;
    img{
      @include block-fit-cover(20em);
    }
    @include breakpoint($bp-xl){
    }
  }
  .card-body{
    background-color: white;
    transition: background-color 0.5s ease;
    padding: 1em 1em;
    border-top: 1px solid #ececec;
    border-radius: 5px;
    span{
      margin-bottom: 0.5em;
      color: $color-green;
      font-size: 15px;
      font-weight: 700;
    }
    .card-footer{
      margin-top: 1em;
      .button{
        border-radius: 3px;
        font-size: 13px;
      }
    }
    @supports(display: flex){
      display: flex;
      flex-direction: column;
      min-height: 8vh;
    }
    h3{
      margin-bottom: 0;
    }
    @supports(display: flex){
      display: flex;
    }
  }
}

.card-shadow{

}


.paper-row{
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 2em;
  padding-bottom: 1em;
  h2.entry-title{
      color: $color-purple;
      font-size: 18px;
      @include breakpoint($bp-mega){
        font-size: 20px;
      }
    }
    .paper-body{
      a{
        font-weight: 500 !important;
        color: $color-green;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
      .pdf--button{
        color: white;
        font-weight: 700 !important;
      }
    }
}




.about-grid{
.l-sidebar {
  @include clearfix;
  margin-left: -3em;
  @supports(display: flex){
    display: flex;
    flex-direction: column;
  }
  @include breakpoint($bp-med){
    flex-direction: row;
  }
  @include breakpoint($bp-large) {
    margin-left: -5em;
  }
  .l-aside-col{
    order: 2;
    @include breakpoint($bp-med){
      order: 0;
    }
  }
  .l-main-col,
  .l-aside-col, {
    padding-left: 3em;

    @include breakpoint($bp-med) {
      float: left;
    }

    @include breakpoint($bp-large) {
      padding-left: 5em;
    }
  }

  .l-main-col {
    @include breakpoint($bp-med) {
      width: 65%;
      float: right;
    }
    @include breakpoint($bp-large) {
      width: 79%;
      float: right;
    }
    @include breakpoint($bp-xl) {
      width: 79%;
    }
  }

  .l-aside-col {
    .orb-container{
      border-radius: 300px;
      margin-top: -2.5em;
      position: relative;
      width: 275px;
      height: 275px;
      @include breakpoint($bp-small){
        width: 304px;
        height: 304px;
      }
      @include breakpoint($bp-med){
        width: 358px;
        height: 362px;
      }
      @include breakpoint($bp-xl){
        width: 410px;
        height: 414px;
      }
      @include breakpoint($bp-mega){
        width: 462px;
        height: 466px;
      }
      &:after{
        content: "";
        background-color: $color-purple;
        position: absolute;
        width: 138px;
        height: 139px;
        left: 0;
        top: 0;
        border-radius: 200px;
        @include breakpoint($bp-xl){
          width: 138px;
          height: 139px;
          left: 0;
          top: 0;
        }
      }
      &:before{
        content: "";
        background-color: $color-green;
        position: absolute;
        /* top: 0; */
        border-radius: 100px;
        z-index: 10;
        right: -2em;
        bottom: 3em;
        width: 158px;
        height: 160px;
        @include breakpoint($bp-xl){
          right: -2em;
          bottom: 3em;
          width: 174px;
          height: 172px;
        }
      }
      .callout-photo{
        border-radius: 300px;
        overflow: hidden;
        position: relative;
        width: 334px;
        height: 336px;
        @include breakpoint($bp-med){
          width: 358px;
          height: 362px;
        }
        @include breakpoint($bp-xl){
          width: 410px;
          height: 414px;
        }
        @include breakpoint($bp-mega){
          width: 462px;
          height: 466px;
        }
      }
    }
    @include breakpoint($bp-med) {
      width: 35%;
    }

    @include breakpoint($bp-large) {
      width: 21%;

    }
  }
}
}
