
/**
 * Page Banner
 */

.banner {
  position: relative;
  padding: 5.9375em 0;
  width: 100%;
  background-color: $banner-bkg;
  overflow: hidden;
  z-index: 1;
  padding-bottom: 0;
  .wrap{
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-end;
  }
  @include breakpoint($bp-med){
    height: 450px;
  }
  @include breakpoint($bp-large){
    height: 500px;
  }
  @include breakpoint($bp-xl){
    height: 550px;
  }
  @include breakpoint($bp-mega){
    height: 635px;
  }
}

.banner-title {
  position: relative;
  z-index: 10;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  padding: 1em;
  background: rgba(0, 0, 0, 0.35);
  @include breakpoint($bp-med){
    padding: 1.1em;
  }
  @include breakpoint($bp-xl){
    padding: 1.3em;
  }
  @include breakpoint($bp-mega){
    padding: 1.5em;
  }

  .h1 {
    margin: 0;
    display: block;
    color: #fff;
    font-family: $font-heading;
    font-weight: 700;
    text-align: center;
    font-size: 28px;
    @include breakpoint($bp-med) {
      font-size: 30px;
    }
    @include breakpoint($bp-xl) {
      font-size: 32px;
    }
    @include breakpoint($bp-mega) {
      font-size: 34px;
    }
  }
}

.banner-image {
  opacity: 1;
  @include block-fit-cover( 30em );
  @include breakpoint($bp-med){
    @include block-fit-cover( 85em );
  }
  @include breakpoint($bp-xl){
    @include block-fit-cover( 90em );
  }
  @include breakpoint($bp-mega){
    @include block-fit-cover( 90em );
  }
}
