
/**
 * Button Block
 */

.button-block-layout {
  position: relative;

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.button-block-layout-bkg {
  @include block-fit-cover( 100em );
  opacity: 0.3;
}

.button-block {
  margin: -0.5em 0;
  text-align: center;
  @supports ( display: flex ) {
    display: flex;
    flex-direction: column;
  }

  .callout-header,
  .callout-body {
    padding: 0.5em 0;

    @include breakpoint($bp-med) {
      padding: 0 2em;
    }
  }

  .callout-header {
    margin-bottom: 1em;
    h2 {
      @supports ( display: flex ) {
        margin: 0;
      }
    }
  }
}

.button-callout-content {
  @supports ( display: flex ) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  p {
    margin: 0 0 1em 0;
    font-size: 15px;
    line-height: 1.2;

    @include breakpoint($bp-large) {
      @supports ( display: flex ) {
        flex: 1 0 0;
        margin: 0;
      }
      font-size: 17px;
    }
  }
  a{
    margin-top: 1em;
  }
}
