
.quote-block-layout {
  position: relative;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: $color-purple;

  .wrap {
    position: relative;
    z-index: 10;
  }
}

.quote-block-layout-bkg {
  @include block-fit-cover( 125em );
  opacity: .3;
}

.quote-block {

}

.quote-icon {
  text-align: center;
}

.quote-icon-svg {
  color: $link-color;
}

.quote-block-body {
  margin-top: 1em;

  p {
    color: #fff;
    font-size: 1.125em;
    font-weight: 700;
    line-height: 1.4;
    font-style: normal;
  }
}

.quote-block-citation {
  margin-top: 1.5em;
  font-size: 1em;
  line-height: 1.2;

  &::before {
    content: none;
  }
}

.quote-name {
  display: block;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  @include breakpoint($bp-med){
    font-weight: 700;
    font-size: 16px;
  }
  @include breakpoint($bp-xl){
    font-weight: 700;
    font-size: 16px;
  }
}

.quote-title {
  display: block;
  margin-top: .5em;
  color: $link-color;
  font-weight: 700;
  letter-spacing: .0625em;
}
