
/**
 * Split Image / Content Block
 */

.split-block-layout {
  @include clearfix;
  min-height: 31.25em;

  @include breakpoint($bp-med) {
    @supports ( display: flex ) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &.split-block-layout--right {
    flex-direction: row-reverse;
  }
}

.split-block-col {
  position: relative;
  overflow: hidden;

  @include breakpoint($bp-med) {
    float: left;
    width: 50%;
  }

  @include breakpoint($bp-med) {
    @supports ( display: flex ) {
      display: flex;
      align-items: center;
    }
  }
}

.split-block-content-inner-wrap {
  @include breakpoint($bp-med) {
    max-width: 32.875em;
  }
}

.split-block-content {
  padding: 3em 1em;
  width: 100%;

  @include breakpoint($bp-med) {
    padding: 2.625em;
  }

  @include breakpoint($bp-xl) {
    padding: 4.625em;
  }

  @include breakpoint($bp-med) {
    @supports ( display: flex ) {
      display: flex;
      justify-content: flex-start;
    }
  }

  .split-block-layout--right & {
    @include breakpoint($bp-med) {
      justify-content: flex-end;
    }
  }
}

.split-block-image {
  display: block;

  @include block-fit-cover( 39em );
  @include breakpoint($bp-med) {
    @include block-fit-cover( 56em );
  }
}

.page-id-175{
  .split-block-image{
    @include block-fit-cover(76em);
  }
}
.split-image{
  height: 300px;
  @include breakpoint($bp-med){
    height: auto;
  }
}
