.onethird{

  /**
   * Split Image / Content Block
   */

  .split-block-layout {
    @include clearfix;
    min-height: 0;

    @include breakpoint($bp-med) {
      @supports ( display: flex ) {
        display: flex;
        flex-wrap: wrap;
      }
    }

    &.split-block-layout--right {
      flex-direction: row-reverse;
      .text-content{
        padding-left: 0;
      }
    }
    &.split-block-layout--left {
      .text-content{
        padding-left: 2em;
      }
    }
  }

  .split-block-col {
    position: relative;
    overflow: hidden;

    @include breakpoint($bp-med) {
      float: left;
      width: 70%;
    }

    @include breakpoint($bp-med) {
      @supports ( display: flex ) {
        display: flex;
      }
    }
  }

  .split-block-content-inner-wrap {
    @include breakpoint($bp-med) {
      max-width: 100%;
    }
  }

  .split-block-content {
    padding: 0 !important;
    padding-right: 3em !important;
    width: 100%;

    @include breakpoint($bp-med) {
    }

    @include breakpoint($bp-xl) {
    }

    @include breakpoint($bp-med) {
      @supports ( display: flex ) {
        display: flex;
        justify-content: flex-start;
      }
    }

    .split-block-layout--right & {
      @include breakpoint($bp-med) {
        justify-content: flex-end;
      }
    }
  }

  .split-block-image {
    display: block;

    @include breakpoint($bp-med) {
      @include block-fit-cover( 50em );
    }
  }

  .photo-content{
    @include breakpoint($bp-med){
      width: 30% !important;
    }
  }
  .text-content{
    @include breakpoint($bp-med){
      width: 70% !important;
    }
  }

}
