
/**
 * Hero Block
 */

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // height: 52.4375em;
  // max-height: 52.4375em;
  overflow: hidden;
  min-height: 18em;
  height: 300px;
  @include breakpoint($bp-med){
    // height: 66vh;
    // min-height: 26em;
    // max-height: 29.4375em;
    height: 500px;
  }
  @include breakpoint($bp-xl){
    // height: 52.4375em;
    // height: 72vh;
    // min-height: 38em;
    // max-height: 52.4375em;
    height: 680px;
  }
  @include breakpoint($bp-mega){
    // height: 78vh;
    height: 750px;
  }
  &.background-image {
    background-color: $color-black;
  }

  .wrap {
    position: relative;
    // max-width: 39.625em;
    width: 100%;
    z-index: 10;

    @include breakpoint($bp-large) {
      // max-width: 55.625em;
    }
  }
}

.hero-bkg-image {
  @include block-fit-cover( 63em );
  opacity: 0.7;
  @include breakpoint($bp-med){
    @include block-fit-cover( 92em );
  }
  @include breakpoint($bp-xl){
    @include block-fit-cover( 150em );
  }
}

.hero-box {

}

.hero-content {
  text-align: left;
  padding-top: 0em;
  @include breakpoint($bp-med){
    padding-right: 20em;
    padding-top: 4em;
  }
  @include breakpoint($bp-large){
    padding-right: 24em;
    padding-top: 5em;
  }
  @include breakpoint($bp-xl){
    padding-right: 46em;
  }
  @include breakpoint($bp-mega){
    padding-right: 43em;
    padding-top: 6em;
  }

  h1 {
    color: #fff;

    @include breakpoint($bp-large) {
      font-size: 50px;
    }
    span{
      color: $color-green;
    }
  }

  p {
    color: #fff;
    font-size: 1.375em;
  }

  .button {

  }
}



.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background: url(../video/bg-poster-3.png) no-repeat;
  background-size: cover;
  max-width: none;
  z-index: 2;
  display: none;
  @include breakpoint($bp-med){
    display: block;
  }
}



.overlay{
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,0.5032387955182073) 0%, rgba(0,0,0,0) 100%);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9;
}
