
/**
 * Tiny Slider
 */

.tns-outer {
  position: relative;
}

.tns-controls {
  [aria-controls] {
    @include button-reset();
    position: absolute;
    top: 50%;
    color: #fff;
    background-color: transparent;
    transform: translateY(-50%);
    z-index: 10;
  }

  [data-controls="prev"] {
    left: 1em;
  }

  [data-controls="next"] {
    right: 1em;
  }
}

.tns-nav {
  position: absolute;
  left: 0;
  bottom: 1em;
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 10;

  > [aria-controls] {
    padding: 0;
    margin: 0 9px;
    border: 0;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: rgba( #fff, 0.6 );

    &.tns-nav-active {
      background-color: $link-color;
    }
  }
}


/**
 * Image Slideshow Example
 */

.image-slideshow {

  // Only display the first slide when js is disabled
  .no-js & {
    .image-slide {
      display: none;

      &:first-child {
        display: block;
      }
    }
  }
}

// Basic Styling - Centered image blocks
// .image-slide {
//   img {
//     display: block;
//     margin: 0 auto;
//   }
// }

// Full Height Styling - Expands images to full height of slide
.slide-image {
  height: 25em;
  overflow: hidden;

  img {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}
