
/**
 * Page Header
 */

.page-header {
  margin-bottom: 0.7em;
}

.page-title {
  margin: 0;
  font-size: 16px;
  text-transform: uppercase;
  color: $color-green;
}



/**
 * Entry Header
 */

.entry-header {
  .entry-meta {
    margin: 1em 0 2em;
  }
}

.entry-title {
  margin-bottom: .5em;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.entry-meta {
  margin: 1em 0 1em;

  p {
    margin: 0;
    font-size: .8125em;
    font-weight: 700;
    color: $heading-color;
    text-transform: uppercase;

    a {
      text-decoration: underline;
      color: $heading-color;

      &:hover,
      &:focus {
        color: darken($heading-color, 15%);
      }
    }
  }
}
