
/**
 * Sidebar Layout
 */

.fullwidth-layout, .annual-report-section{
.l-sidebar {
  @include clearfix;
  margin-left: -3em;

  @include breakpoint($bp-large) {
    margin-left: -5em;
  }

  .l-main-col,
  .l-aside-col, {
    padding-left: 3em;

    @include breakpoint($bp-med) {
      float: left;
    }

    @include breakpoint($bp-large) {
      padding-left: 5em;
    }
  }

  .l-main-col {
    @include breakpoint($bp-med) {
      width: 63%;
      float: right;
    }
    @include breakpoint($bp-large) {
      width: 70%;
      float: right;
    }
    @include breakpoint($bp-xl) {
      width: 67%;
    }
  }

  .l-aside-col {
    @include breakpoint($bp-med) {
      width: 35%;
    }

    @include breakpoint($bp-large) {
      width: 30%;

    }
  }
 }
}
