
.columns-two-thirds {
  @include clearfix;
  margin-left: -2em;
}

.col-two-third {
  padding-left: 2em;

  @include breakpoint($bp-med) {
    float: left;
    width: 70%;
  }

  .columns-two-thirds--left & {
    @include breakpoint($bp-med) {
      float: right;
    }
  }
}

.col-one-third {
  padding-left: 2em;

  @include breakpoint($bp-med) {
    float: right;
    width: 21%;
  }

  .columns-two-thirds--left & {
    @include breakpoint($bp-med) {
      float: left;
    }
  }
}


.page-id-202{
  .col-one-third{
    @include breakpoint($bp-xl){
      width: 26% !important;
    }
    .page-content{
      ul{
        li{
          a{
            text-decoration: none !important;
          }
        }
      }
    }
  }
}
