
/**
 * Main Navigation
 */

.navigation--main {
  position: relative;
  width: 100%;
  text-align: right;
  z-index: 490;
  flex: 1;
  > .nav-list{

    // > li{
    //   &:last-child{
    //     a{
    //         color: $color-purple;
    //         border: 2px solid $color-purple;
    //         padding: 0.7em 0.7em;
    //         transition: border 0.5s ease, color 0.5s ease;
    //         border-radius: 3px;
    //         font-weight: 700;
    //         &:hover{
    //           color: $color-green;
    //           border: 2px solid $color-green;
    //           transition: border 0.5s ease, color 0.5s ease;
    //         }
    //     }
    //   }
    // }
  }
  li {
    position: relative;
  }

  a {
    display: block;
    padding: 0.5em 0.15em;
    color: white;
    font-family: $font-heading;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    @include breakpoint($bp-large) {
      font-size: 14px;
    }

    @include breakpoint($bp-xl) {
      font-size: 16px;
    }

    &:hover,
    &:focus {
      color: $main-nav-color--hover;
      text-decoration: none;
    }
  }

  > ul {
    > li {
      + li {
        margin-left: 0.5em;
        @include breakpoint($bp-large){
          margin-left: 0.8em;
        }
        @include breakpoint($bp-xl){
          margin-left: 1.2em;
        }
        @include breakpoint($bp-mega){
          margin-left: 1.8em;
        }
      }
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $color-green;
    }
  }

  .sub-menu {
    @include list-reset;
    position: absolute;
    left: -9999px;
    top: 100%;
    margin: 0;
    padding: 0.5em 1.4375em;
    min-width: 15em;
    text-align: left;
    z-index: 490;
    opacity: 0;
    box-shadow: 0 7px 19px -8px rgba( #424242, 0.5 );
    transition: opacity 100ms linear;
    border-bottom-left-radius: 10px !important;
    background: #F7F7F7;
    li {
      display: block;
      margin: 0;
      a{
        color: $main-nav-color;
      }
    }

    > li {
      + li {
        border-top: 1px solid #DBDBDB;
      }
    }

  >  a {
      padding: 1em 0;
      color: $main-nav-color;
      font-size: 1em;
      text-transform: capitalize;

      &:hover,
      &:focus {
        color: $main-nav-color--hover;
      }
    }
    .current-menu-item,
    .current-menu-ancestor {
      a {
        color: $main-nav-color--hover;
      }
    }
  }

  li {
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 0;
        opacity: 1;
      }
    }

    &:last-child {
      &:hover,
      &.is-active {
        > .sub-menu {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .sub-menu {
  z-index: 10;
  li{
    &:hover,
    &.is-active {
      > .sub-menu {
        left: 100%;
        top: 0;
        z-index: -5;
        border-bottom-right-radius: 10px !important;
        border-bottom-left-radius: 0 !important;
        background: #F7F7F7;
      }
    }
    a{
      text-transform: capitalize;
    }
  }
 }
}





.site-header.minify-header{
  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $color-green;
    }
  }
}
