
/**
 * Utility Navigation
 */

.navigation--utility {
  margin-bottom: 0.5em;
  text-align: left;
  // width: 400px;
  margin-left: 1em;
  @include breakpoint($bp-xl){
    // width: 320px;
  }
  li {
    + li {
      padding-left: 0;
      // border-left: 1px solid $border-color;
    }
  }
  .nav-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    @include breakpoint($bp-large){
      text-align: left;
    }
  }
  .nav-list li+li{
    margin-left: 1em;
    margin-top: 0;
  }

  a {
    color: white;
    border: 2px solid white;
    padding: 0.7em 0.7em;
    transition: border 0.5s ease, color 0.5s ease;
    border-radius: 3px;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none !important;
    text-transform: uppercase;
    @include breakpoint($bp-xl){
      font-size: 16px;
    }
    &:hover,
    &:focus {
      color: $color-green;
      border: 2px solid $color-green;
      transition: border 0.5s ease, color 0.5s ease;
    }
  }

  .current-menu-item,
  .current-menu-ancestor {
    > a {
      color: $color-green;
    }
  }

  .sub-menu {
    display: none;
  }
}
