
/**
 * Mobile Navigation
 */

.mobile-nav-tray {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: $color-purple;
  overflow-y: scroll;
  transition: transform 350ms;
  @include reverse-block-color();
  @include breakpoint($bp-med) {
    display: none;
  }

  .admin-bar & {
    padding-top: 2.875em;
  }

  .show-nav & {
    transform: translateX( -100% );
    transform: translate3d( -100%, 0, 0 );

    @include breakpoint($bp-med) {
      transform: translateX( 0 );
      transform: translate3d( 0, 0, 0 );
    }
  }
}

.mobile-nav-header {
  padding: 1em 1em;
  display: flex;
  justify-content: space-between;

  a {
    display: inline-block;
    vertical-align: top;
  }
}

.navigation--mobile {
  padding-top: 0;
}

.mobile-nav {
  @include list-reset;

  + .mobile-nav {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #dedede;
  }

  ul {
    @include list-reset;
  }

  > li {
    margin: 0;
  }
  li {
   position: relative;
   &:after{
     content: "";
     position: absolute;
     border-top: 1px solid #54196c;
     bottom: 0;
     left: 0;
     right: 0;
     width: 93%;
     margin: auto;
   }
  }

  a {
    display: block;
    padding: .55em;
    color: $heading-color;
    font-family: $font-heading;
    font-size: 22px;
    font-weight: 700;
    text-align: left;
    text-decoration: none !important;
    transition: color 500ms;
    text-transform: uppercase;

    &:hover,
    &:focus {
      color: lighten($heading-color, 15%);
    }
  }

  a.is-active{
    background-color: #54196C !important;
  }

  .sub-menu {
    display: none;
    padding-left: 2em;
    background-color: #54196C;
    padding-bottom: 1.5em;

    a {
      font-size: 20px;
      text-transform: capitalize;
      padding-top: .55em;
      padding-bottom: 0 !important;
    }
    li + li{
      margin-top: 0;
      a{
      }
    }
    li{
      .sub-menu{
        padding-bottom: 0 !important;
      }
    }
  }
}

.mobile-nav--main {

}

.mobile-nav--utility {
  @include reverse-block-color();
  li{
    margin-bottom: 1em;
  }
  a {
    color: $color-purple;
    border: 2px solid white;
    padding: 0.7em 0.7em;
    transition: border 0.5s ease, color 0.5s ease;
    border-radius: 3px;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none !important;
    margin-right: 1.5em;
    &:hover,
    &:focus {
      color: $color-green;
      border: 2px solid $color-green;
      transition: border 0.5s ease, color 0.5s ease;
    }
  }
}


.mobile-nav--search {
  margin-top: 2em;
  padding: 0 1em;

  .search-bar {
    .search-submit {
      border-color: $text-color;
      font-size: 1.1875em;
      background: $text-color;

      &:hover,
      &:focus {
        background: $text-color;
        border-color: $text-color;
      }
    }

    .search-field {
      border: 1px solid $text-color;
      border-radius: 3px;
      font-size: 1.1875em;

      &:focus {
        border-color: $text-color;
      }
    }
  }
}

.mobile-nav--main .menu-item-has-children>a:after {
    content: url(../svg/icons/nav-tray-arrow.svg);
    display: inline-block;
    margin-left: 10px;
}

.sub-menu{
  .mobile-nav--main .menu-item-has-children>a:after {
      content: url(../svg/icons/nav-tray-arrow.svg);
      display: inline-block;
      margin-left: 10px;
  }
}

.mobile-nav--main .menu-item-has-children>a, .nav-item-search {
    position: relative;
}


.mobile-footer{
  padding-top: 1em;
  padding-left: 0.7em;
  .footer-social-new{
    .social-nav-title{
      display: none;
    }
  }
}
.social-nav{
  margin: 0;
}
