
/**
 * Sidebar Navigation
 */

.sidebar-nav {

  ul {
    @include list-reset;
  }

  li {
    display: block;
    margin: 0;

    + li {
    }
  }

  a {
    &:nth-child(1){
      padding-top: 0 !important;
    }
    display: inline-block;
    padding: 0.65em 0;
    color: $color-black;
    text-decoration: none;
    font-weight: 500;
    font-family: $font-heading;
    transition: color 500ms;
    font-size: 18px;
    &:hover,
    &:focus {
      color: $color-purple;
    }
  }

  .children {
    display: none;
    margin-left: 1em;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    padding-top: 1em;
    margin-bottom: 1em;
  }

  .current_page_item,
  .current_page_ancestor {
    > a {
      color: $color-purple;
      font-weight: 700;
      position: relative;
      &:after{
        content: "";
        width: 10px;
        height: 10px;
        background-color: $color-green;
        position: absolute;
        left: 0;
        border-radius: 15px;
        left: -1.3em;
        border-radius: 15px;
        top: 0.4em;
      }
    }
  }

  .current_page_item,
  .current_page_ancestor {
    > .children {
      display: block;
    }
  }
}
