.blog{
  .resource-grid{
    .card-body{
      height: 200px;
      justify-content: flex-start;
      @include breakpoint($bp-med){
        height: 320px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

.page-template-template-events{
  .resource-grid{
    .card-body{
      height: 200px;
      justify-content: flex-start;
      @include breakpoint($bp-med){
        height: 220px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}


.resource-grid{
  // padding-top: 0 !important;
  a{
    text-decoration: none;
  }
  h2.paper-year{
      color: $color-black;
      font-family: $font-base;
      margin: 1.5em 0;
  }
  header{
    h1{
    padding-bottom: 0.5em;
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 1em;
    }

  }
  .thumbnail{
    overflow: hidden;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    height: 200px;
    @include breakpoint($bp-xl){
      height: 226px;
      img{
        @include block-fit-cover(19em);
      }
    }
  }
  .card-body{
    background-color: white;
    transition: background-color 0.5s ease;
    padding: 1em 1em;
    justify-content: space-between;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-bottom: 1.5em;
    span{
      margin-bottom: 0.5em;
      color: $color-purple;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
    }
    .card-footer{
      margin-top: 1em;
      .button{
        border-radius: 3px;
        font-size: 13px;
      }
      a.button.button--text + a.button--text {
      margin-left: 21px;
      }
    }
    @supports(display: flex){
      display: flex;
      flex-direction: column;
      min-height: 8vh;
      height: 300px;
    }
    h3{
      margin-bottom: 0;
      font-size: 20px;
    }
    @supports(display: flex){
      display: flex;
    }
  }
}

.card-shadow{
  box-shadow: -1px 7px 15px -1px rgba(0,0,0,.2);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.paper-row{
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 2em;
  padding-bottom: 1em;
  h2.entry-title{
      color: $color-purple;
      font-size: 18px;
      @include breakpoint($bp-mega){
        font-size: 20px;
      }
    }
    .paper-body{
      a{
        font-weight: 500 !important;
        color: $color-green;
        text-decoration: underline;
        &:hover{
          text-decoration: none;
        }
      }
      .pdf--button{
        color: white;
        font-weight: 700 !important;
      }
    }
}




.resource-grid{
.l-sidebar {
  @include clearfix;
  margin-left: -3em;
  @supports(display: flex){
    display: flex;
    flex-direction: column;
  }
  @include breakpoint($bp-med){
    flex-direction: row;
  }
  @include breakpoint($bp-large) {
    margin-left: -5em;
  }
  .l-aside-col{
    order: 2;
    @include breakpoint($bp-med){
      order: -1;
    }
  }
  .l-main-col,
  .l-aside-col, {
    padding-left: 3em;

    @include breakpoint($bp-med) {
      float: left;
    }

    @include breakpoint($bp-large) {
      padding-left: 5em;
    }
  }

  .l-main-col {
    @include breakpoint($bp-med) {
      width: 65%;
      float: right;
    }
    @include breakpoint($bp-large) {
      width: 79%;
      float: right;
    }
    @include breakpoint($bp-xl) {
      width: 79%;
    }
  }

  .l-aside-col {
    .orb-container{
      border-radius: 300px;
      margin-top: -2.5em;
      position: relative;
      width: 275px;
      height: 275px;
      @include breakpoint($bp-small){
        width: 304px;
        height: 304px;
      }
      @include breakpoint($bp-med){
        width: 358px;
        height: 362px;
      }
      @include breakpoint($bp-xl){
        width: 410px;
        height: 414px;
      }
      @include breakpoint($bp-mega){
        width: 462px;
        height: 466px;
      }
      &:after{
        content: "";
        background-color: $color-purple;
        position: absolute;
        width: 138px;
        height: 139px;
        left: 0;
        top: 0;
        border-radius: 200px;
        @include breakpoint($bp-xl){
          width: 138px;
          height: 139px;
          left: 0;
          top: 0;
        }
      }
      &:before{
        content: "";
        background-color: $color-green;
        position: absolute;
        /* top: 0; */
        border-radius: 100px;
        z-index: 10;
        right: -2em;
        bottom: 3em;
        width: 158px;
        height: 160px;
        @include breakpoint($bp-xl){
          right: -2em;
          bottom: 3em;
          width: 174px;
          height: 172px;
        }
      }
      .callout-photo{
        border-radius: 300px;
        overflow: hidden;
        position: relative;
        width: 334px;
        height: 336px;
        @include breakpoint($bp-med){
          width: 358px;
          height: 362px;
        }
        @include breakpoint($bp-xl){
          width: 410px;
          height: 414px;
        }
        @include breakpoint($bp-mega){
          width: 462px;
          height: 466px;
        }
      }
    }
    @include breakpoint($bp-med) {
      width: 35%;
    }

    @include breakpoint($bp-large) {
      width: 21%;

    }
  }
}
}


.board-title{
  margin-top: 0.5em;
}

.page-template-template-team, .page-template-template-board{
  .card-footer{
    margin-top: 0 !important;
  }
  section + section{
    padding-top: 0;
  }
}

.staff-section{
  padding-top: 0 !important;
  @include breakpoint($bp-med){
    padding-bottom: 3em !important;
  }
}


.resource-grid, .about-grid{
  .l-grid{
    a{
      &:hover{
        .card-body{
          @include reverse-block-color();
          background-color: $color-purple;
        }
      }
    }
  }

  .card-shadow{
    &:hover{
      .card-body{
        @include reverse-block-color();
        background-color: purple;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        span{
          color: white;
        }
        .button--text{
          color: white;
          &:after{
            content: url(../img/button-arrow-white.png);
          }
        }
      }
    }
  }
}
.resource-grid{
  .l-grid{
    a{
      &:hover{
        .card-shadow{
          .card-body{
            @include reverse-block-color();
            background-color: $color-purple;
          }
        }
      }
    }
  }
}

.card-excerpt{
  font-size: 14px;
  margin-top: 0.4em;
  color: #212020;
  font-weight: 500 !important;
}


.card--body{
  &:hover{
  }
}

.card--body{
  span{
    display: block;
    margin-bottom: 0.2em;
  }
}

.page-template-template-published-papers, .page-template-template-guideline, .blog, .page-template-template-team, .page-template-template-board, .page-template-template-press-release,.page-template-template-events, .archive{
  .banner{
   @include breakpoint($bp-large){
       margin-bottom: 4em;
   }
  }
  main{
    padding-bottom: 0;
    section.resource-grid{
      &:nth-of-type(1){
        .paper-year{
          margin-top: 0;
        }
      }
      .card-body{
        border-radius: 5px;
        &:hover{
          a{
            text-decoration: none !important;
          }
          span{
            color: white;
          }
        }
        .open-bio{
          height: 100%;
          // display: flex;
          // flex-direction: column;
          // justify-content: space-between;
          // align-items: flex-start;
          padding-bottom: 0;
          span{
            position: relative;
            margin-bottom: 0;
          }
         &:hover{
           text-decoration: none;
           header h3{
             text-decoration: none;
           }
         }
        }
      }
    }
  }
}

.page-template-template-guideline, .page-template-template-published-papers{
 main{
   padding-bottom: 4em;
 }
}

.staff-section{
  &:nth-child(1){
    header{
      h3{
        padding-top: 0 !important;
        border-top: none !important;
      }
    }
  }
  header{
    h3{
      margin-bottom: 1.5em;
      padding-top: 1.2em;
      font-size: 28px;
      border-top: 1px solid #f2eee9 !important;
    }
  }
}

.modal-header{
  .open-bio{
    text-decoration: none;
    color: inherit;
    font-size: 14px !important;
    p{
      font-size: 14px !important;
    }
    a{
      font-size: 14px !important;
      b{
        font-size: 14px !important;
      }
    }
  }
  a{
    font-size: 14px;
  }
}

.button.mfp-arrow, button.mfp-close{
  z-index: -13 !important;
}

.open-bio{
  .card-body{
    h3{
      color: #6c2888;
      font-weight: 700;
    }
    p{
      color: #404041;
      font-weight: 500 !important;
    }
  }
}

.page-template-template-team, .page-template-template-events{
  .modal-content{
    .modal-header{
      display: flex;
      flex-direction: column;
      @include breakpoint($bp-med){
        flex-direction: row;
      }
    }
    .thumbnail{
      position: relative;
      height: auto;
      /* border: 2px solid red; */
      overflow: hidden;
      @include breakpoint($bp-med){
        flex: 1;
        order: 2;
        margin-left: 2em;
      }
    }
    .modal-content{
      @include breakpoint($bp-med){
        flex: 2;
      }
    }
  }
}
//
// .page-template-template-events{
//   .about-grid .card-shadow:hover .card-body, .resource-grid .card-shadow:hover .card-body{
//     border-top-left-radius: 5px;
//    border-top-right-radius: 5px;
//   }
// }
// .page-template-template-guideline{
//   .resource-grid .card-shadow:hover .card-body{
//     border-top-left-radius: 5px;
//    border-top-right-radius: 5px;
//   }
// }
// .page-template-template-published-papers{
//   .about-grid .card-shadow:hover .card-body, .resource-grid .card-shadow:hover .card-body{
//     border-top-left-radius: 5px;
//     border-top-right-radius: 5px;
//   }
// }
//
//

.blog, .page-template-template-press-release{
  .resource-grid .card-shadow:hover .card-body{
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
  }
}

.page-template-template-board{
  .card-body{
    height: 335px;
    display: flex;
    justify-content: space-between;
  }
}
.page-template-template-team{
  .card-body{
    height: 335px;
    display: flex;
    justify-content: space-between;
  }
}

.blog{
.resource-grid .thumbnail img{
    @include block-fit-cover(18em);
  }
}

.page-template-template-press-release{
  .resource-grid .thumbnail img{
      @include block-fit-cover(28em);
  }
}

.page-template-template-team{
  .staff-section{
    &:nth-child(2){
      header{
        display: none;
      }
    }
    &:nth-child(4){
      header{
        display: none;
      }
    }
  }
}
